<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js" ></script>
    
    <script type="text/javascript" src="/js/fbprm.js"></script>
    
    <meta charset="utf-8">
    <title>Facebook CRM</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="./bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
    <div ng-controller="fbprm">
      <div id="fb-root"></div>
        <script>
          Parse.initialize("FpRIiKC5uukYhujiDboitrw9EVU2zLSZbbawt9P6", "KkI7SNjpCDsroQzoFwETaRfD7te0QV1HfL9LuH9g");

          window.fbAsyncInit = function() {
            Parse.FacebookUtils.init({
              appId      : '379701412164889', // Facebook App ID
              //channelUrl : '//WWW.fbprm.COM/channel.html', // Channel File
              //channelUrl: './channel.php',
              status     : true, // check login status
              cookie     : true, // enable cookies to allow Parse to access the session
              xfbml      : true  // parse XFBML
            });
            // Additional initialization code here
          };

          // Load the SDK asynchronously
          (function(){
             // If we've already installed the SDK, we're done
             if (document.getElementById('facebook-jssdk')) {return;}

             // Get the first script element, which we'll use to find the parent node
             var firstScriptElement = document.getElementsByTagName('script')[0];

             // Create a new script element and set its id
             var facebookJS = document.createElement('script'); 
             facebookJS.id = 'facebook-jssdk';

             // Set the new script's source to the source of the Facebook JS SDK
             facebookJS.src = 'http://connect.facebook.net/en_US/all.js';

             // Insert the Facebook JS SDK into the DOM
             firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
          }());
        </script>

      <div class="topbar" style="margin-bottom: 0; padding-bottom:0;">
        <div class="topbar-inner" style="margin-bottom: 0; padding-bottom:0;">
          <div class="container-fluid" style="margin-bottom: 0; padding-bottom:0;">
            <a class="brand" href="#">Facebook CRM</a>
            <button ng-click="login()">blah</button>
            <button ng-click="readMessages()">read messages</button>
            <p class="pull-right">Logged in as <a href="#">username</a></p>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="sidebar">
          <div class="well">
            <ul style="list-style-type:none; font-size: 1.2em; width: 100%; margin-left: 0px">
              <li style="padding-left: 20px; line-height: 3.1em; vertical-align: middle; background-color: #202020;">Team Tasks
                <span style="background-image: url(./images/grey_icon.png); color:#ffffff; width: 30px; height: 20px; float: right; line-height: 20px; text-align: center; ">
                  24
                </span>
              </li>
              <li style="padding-left: 20px; line-height: 3.1em;">
                My Tasks
                <span style="background-image: url(./images/grey_icon.png); color:#ffffff; width: 30px; height: 20px; float: right; line-height: 20px; text-align: center;vertical-align: middle;">
                  4
                </span>
              </li>
              <li style="padding-left: 20px; line-height: 3.1em;">Online</li>
              <li style="padding-left: 20px; line-height: 3.1em;">New Campaign +</li>
            </ul>
            <p style="padding-left: 20px; color: #666666; margin-top:60px; font-size: 1.2em; margin-bottom: 35px;">Email Support </p>

            <ul style="list-style-type:none; font-size: 1.2em; ">
              <li style="line-height: 3.0em; ">
                <img src="./images/red.png" style="margin-right: 2px; float: left; padding-right: 10px;"> 
                  New
              </li>
              <li style="line-height: 3.1em;">
                <img src="./images/orange.png" style="margin-right: 2px; float: left; padding-right: 10px;">
                In Dev
              </li>
              <li style="line-height: 3.1em;">
                <img src="./images/green.png" style="margin-right: 2px; float: left; padding-right: 10px;">
                Resolved
              </li>
              <li style="line-height: 2.5em;">
                <img src="./images/cyan.png" style="margin-right: 2px; float: left; padding-right: 10px;">
                Notify
              </li>

              <li style="line-height: 2.5em;">
                <img src="./images/grid.png" style="margin-right: 2px; float: left; padding-right: 10px;">
                Add New
              </li>
            </ul>
          </div>
        </div>

        <div class="content">
        <!-- Example row of columns -->
        <div class="row">
          <div style="float: left; width: 50%;">
            <div style="width: 100%; background-color: #EBEBEB;">
              <h4 style="padding: 25px;">
                Email support
                <img src="./images/gear.png" style="display: inline; float: right;">
              </h4>
              
              <div style="min-width: 100%; margin-bottom: 20px">
                <div style="width: 15%; float:left; height: 35px; background-color: #C0504D; color: #632523; font-size: 1.15em; vertical-align: middle; line-height: 35px; text-align:center;">4 new</div>
                <div style="width: 15%; float:left; height: 35px; background-color: #F79646; color: #984807; font-size: 1.15em; vertical-align: middle; line-height: 35px;  text-align:center;">4 in Dev</div>
                <div style="width: 40%; float:left; height: 35px; background-color: #9BBB59; color: #4F6228; font-size: 1.15em; vertical-align: middle; line-height: 35px;  text-align:center;">10 Resolved</div>
                <div style="width: 30%; float:left; height: 35px; background-color: #4BACC6; color: #215968; font-size: 1.15em; vertical-align: middle; line-height: 35px;  text-align:center;">7 Notify</div>
              </div>

              <p style="padding: 0px">Contacts</p>

            </div>

            <table>

              <tr>
                <td style="width:60%">
                  <img src="http://placehold.it/50x50" style="float:left; padding-left: 15px; padding-right: 10px">
                  <h7>Name to be fetched</h7>
                  <p>
                      {{readThread(9)}}
                  </p>
                </td>
                <td>
                  <img src="./images/red.png" style="margin-right: 2px; float: left;">
                  <img src="./images/orange_hollow.png" style="margin-right: 2px; float: left;">
                  <img src="./images/green_hollow.png" style="margin-right: 2px; float: left;">
                  <img src="./images/cyan_hollow.png" style="margin-right: 2px; float: left;">
                </td>
              </tr>

              <tr>
                <td style="width: 60%;">
                   <img src="http://placehold.it/50x50" style="float:left; padding-left: 15px; padding-right: 10px">
                  <h7>Laura Ranola</h7>
                  <p>Hi, I have a problem with the preorder button.</p>
                </td>
                <td>
                  <img src="./images/red.png" style="margin-right: 2px; float: left;">
                  <img src="./images/orange_hollow.png" style="margin-right: 2px; float: left;">
                  <img src="./images/green_hollow.png" style="margin-right: 2px; float: left;">
                  <img src="./images/cyan_hollow.png" style="margin-right: 2px; float: left;">
                </td>
              </tr>


              <tr>
                <td>
                  <img src="http://placehold.it/50x50" style="float:left; padding-left: 15px; padding-right: 10px">
                  <h7>Laura Ranola</h7>
                  <p>Hi, I have a problem with the preorder button.</p>
                </td>
                <td>
                  <img src="./images/red.png" style="margin-right: 2px; float: left;">
                  <img src="./images/orange_hollow.png" style="margin-right: 2px; float: left;">
                  <img src="./images/green_hollow.png" style="margin-right: 2px; float: left;">
                  <img src="./images/cyan_hollow.png" style="margin-right: 2px; float: left;">
                </td>
              </tr>

              <tr>
                <td>
                  <img src="http://placehold.it/50x50" style="float:left; padding-left: 15px; padding-right: 10px">
                  <h7>Eric Horn</h7>
                  <p>Hi, I have a problem with the preorder button.</p>
                </td>
                <td>
                  <img src="./images/red.png" style="margin-right: 2px; float: left;">
                  <img src="./images/orange_hollow.png" style="margin-right: 2px; float: left;">
                  <img src="./images/green_hollow.png" style="margin-right: 2px; float: left;">
                  <img src="./images/cyan_hollow.png" style="margin-right: 2px; float: left;">
                </td>
              </tr>

              <tr>
                <td>
                  <img src="http://placehold.it/50x50" style="float:left; padding-left: 15px; padding-right: 10px">
                  <h7>James Catal</h7>
                  <p>Hi, I have a problem with the preorder button.</p>
                </td>
                <td>
                  <img src="./images/red.png" style="margin-right: 2px; float: left;">
                  <img src="./images/orange_hollow.png" style="margin-right: 2px; float: left;">
                  <img src="./images/green_hollow.png" style="margin-right: 2px; float: left;">
                  <img src="./images/cyan_hollow.png" style="margin-right: 2px; float: left;">
                </td>
              </tr>

              <tr>
                <td>
                  <img src="http://placehold.it/50x50" style="float:left; padding-left: 15px; padding-right: 10px">
                  <h7>Lisa Jefferson</h7>
                  <p>Hi, I have a problem with the preorder button.</p>
                </td>
                <td>
                  <img src="./images/red.png" style="margin-right: 2px; float: left;">
                  <img src="./images/orange_hollow.png" style="margin-right: 2px; float: left;">
                  <img src="./images/green_hollow.png" style="margin-right: 2px; float: left;">
                  <img src="./images/cyan_hollow.png" style="margin-right: 2px; float: left;">
                </td>
              </tr>
            </table>  
          </div>
          <div style="border-left: 1px solid #DEDEDE; float: left; width: 47%; background-color: #F2F2F2; min-height: 538px; padding: 10px;">
            <p><h4>Laura Ranola</h4></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>